{% extends "ledger/base.html" %}

{% block page_heading %}{% endblock %}

{% block content %}
<h1>{{ recipe.name }}</h1>
<p>
    <strong>Author:</strong> {{ recipe.author.name }}
</p>
<p>
    <strong>Author Bio:</strong> {{ recipe.author.bio }}
</p> 

<hr>
    <h3>Ingredients</h3>
    <ul>
        {% for ri in recipe.ingredients.all %}
            <li>{{ ri.ingredient.name }}: {{ ri.quantity }}</li>
        {% endfor %}
    </ul>
<hr>

<p>
    <small>Created on: {{ recipe.created_on|date:"F j, Y" }}</small>
</p>
<p>
    <small>Last updated: {{ recipe.updated_on|date:"F j, Y" }}</small>
</p>

<a href="{% url 'ledger:recipes_list' %}">Back to List</a>
{% endblock %}